.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 64px);
  gap: 40px;

  .summaryResearchContainer {
    display: flex;
    justify-content: center;
    background: #000000;
    color: #ffffff;
    width: 100%;
    padding: 32px;

    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1216px;

      .summaryContainer {
        display: flex;
        flex-direction: column;
        gap: 21px;

        .summaryHeader {
          display: flex;
          flex-direction: column;
          text-transform: uppercase;
          span {
            &:first-child {
              font-weight: 400;
              font-size: 10px;
            }
            &:last-child {
              font-weight: 700;
              font-size: 22px;
            }
          }
        }

        .cardsContainer {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 20px;

          .card {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 42px;
            padding: 22px;
            border-radius: 4px;
            background: #242528;
            width: 229px;

            .bullet {
              position: absolute;
              right: 10px;
              top: 10px;
              width: 6px;
              height: 6px;
              border-radius: 100%;
              background: #0AD2A5;
            }

            .researchDetaild {
              display: flex;
              flex-direction: column;
              gap: 6px;

              div {
                display: flex;
                align-items: baseline;
                gap: 1px;
                font-weight: 700;
                font-size: 30px;
                color: #FFFFFF;
                span {
                  display: block;
                  &:last-child {
                    font-weight: 400;
                    font-size: 18px;
                    color: #8A9099;
                  }
                }

              }
              .titleCard {
                display: block;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 14px;
                color: #8A9099
              }

            }

            .otherContainer {
              display: flex;
              justify-content: space-between;
              max-width: 84px;

              &.fullw { max-width: 100%;}
              .emptyBullet {
                width: 12px;
                height: 12px;
                border: 1px solid #ffffff;
                background: #242528;
                border-radius: 100%;
              }
            }
          }
        }
      }

      .researchContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 13px 25px 26px 25px;
        width: 426px;
        border-radius: 4px;
        background: #C7B2FF;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 4px;

          img { width: 92px;}

          span {
            font-weight: 700;
            font-size: 18px;
            color: #000000
          }
        }
      }
    }
  }

  .dashboardContainer {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: stretch;
    width: calc(100% - 64px);
    max-width: 1216px;
    gap: 24px;
    color: #000000;
    .leftContainer {
      width: 100%;
      max-width: 367px;

      .cardAction {  padding: 8px 20px 16px; }

      .cardContent {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding: 16px 20px;

        h6 {
          font-size: 12px;
          font-weight: 400;
          color: #000000;
          text-transform: uppercase;
        }

        .cardsContainer {
          margin: 0 auto;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 16px;
          width: 100%;
          max-width: 236px;

          .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 6px;
            text-align: center;
            border-radius: 4px;
            border: 1px;
            border-bottom: 10px;
            border-style: solid;
            p {
              font-size: 24px;
              font-weight: 700;
            }
            span {
              display: block;
              font-size: 10px;
              font-weight: 500;
              text-transform: uppercase;
              line-height: 11.75px;
            }

            &.cardAvailable {
              grid-column: 1 / span 2;
              width: 100%;
              max-width: 236px;
              min-height: 110px;
              border-color: #0AD2A5;

              p { font-size: 38px; }
              span { font-size: 12px; }
            }
            &.cardRunning {
              grid-column: 1 / span 1;
              width: 100%;
              max-width: 110px;
              height: 96px;
              border-color: #C7B2FF;
            }
            &.cardReserved {
              grid-column: 2 / span 1;
              width: 100%;
              max-width: 110px;
              height: 96px;
              border-color: #8A9099;
              color: #8A9099
            }
          }
        }
      }
    }
    .rightContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: 343px;
      .cardContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 18px;
        padding: 0;
        min-height: 152px;

        h6 {
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: 12px;
          font-weight: 400;
          color: #000000;
          text-transform: uppercase;
          line-height: 14.1px;
          padding: 2px 0 2px 16px;
          height: 36px;
          margin: 0;
          border-bottom: 1px solid #C9D1D6;
        }

        .cardsContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px 16px 20px;
          p {
            font-size: 38px;
            font-weight: 700;
          }
          span {
            display: block;
            font-size: 14px;
            font-weight: 700;
            line-height: 16.45px;
          }
        }

        button { width: auto; &:hover svg { transform: rotate(0deg); } }
      }

      .sendedContainer {
        .cardContent {
          gap: 12px;
          min-height: 176px;

          .cardsContainer {
            padding: 0 20px;

            .info {
              .infoNumbers {
                display: flex;
                align-items: baseline;
                gap: 1px;
                span {
                  display: block;
                  font-weight: 700;
                  font-size: 38px;
                  color: #000000;
                  line-height: 44.65px;
                  &:last-child {
                    font-weight: 400;
                    font-size: 20px;
                    color: #8A9099;
                    line-height: 16.45px;
                  }
                }

              }
            }

            p {
              line-height: 44px;
            }
            span {
              display: block;
              font-size: 14px;
              font-weight: 700;
              line-height: 16.45px;
            }
          }
        }
        .cardAction {
          padding-bottom: 16px;
          button { width: 100%; border: 1px solid #ffffff; &:hover {border: 1px solid #000000 }}
        }
      }
    }
  }

  .notificationContainer {
    position: absolute;
    top: -40px;
    right: -96px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% + 40px + 47px);
    max-width: 384px;
    background: #ffffff;
    overflow-y: auto;
    padding-top: 110px;

    .headerNotification {
      position: sticky;
      background: #ffffff;
      top: -110px;
      margin-top: -110px;
      margin-bottom: 24px;
      padding: 16px 0 0 24px;
      min-height: 110px;
      box-shadow: 0px 3px 6px 0px #00000029;
      gap: 6px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      z-index: 2;

      h6 {
        font-family: "Public Sans", sans-serif;
        font-weight: 700;
        font-size: 18px;
      }
      div { gap: 6px; }
      .chip {
        padding: 2px 10px;
        background-color: #FF5D55;
        border-radius: 14px;
        width: auto;
        height: auto;
        span {
          padding: 0;
          font-size: 12px;
          font-weight: 700;
          color: #ffffff;
        }
      }

      .tabs {
        display: flex;
        flex-direction: column;
        gap: 2px;
        position: relative;
        // bottom: -11px;

        button {
          border: 0;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 14.1px;
          background: none;
          color: #FF5D55;
        }

        span {
          display: block;
          height: 4px;
          background-color: #FF5D55;
        }
      }
    }

    .bodyNotification {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100%;
      padding-bottom: 20px;

      h6 {
        font-size: 14px;
        font-weight: 400;
        width: calc(100% - 60px);
        color: #8A9099;
      }
    }
  }

}

@media (min-width: 1920px) {
  .main {

    .dashboardContainer {
      width: 100%;
      max-width: 100%;
      .leftContainer, .rightContainer {
        max-width: 100%;
      }

      .leftContainer {
        .mainCard {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          .cardContent {
            height: 100%;
            .cardsContainer {
              grid-template-columns: 1fr 1fr 1fr;
              max-width: 100%;
              height: 100%;
              .card {
                grid-column: auto !important;
                max-width: 100% !important;
                height: 100% !important;
              }
            }
          }
        }
      }
    }

    .notificationContainer {
      position: fixed;
      top: 62px;
      right: 0;
      max-width: 340px;
    }
  }
}

@media (max-width: 1280px) {
  .main {
    .summaryResearchContainer {
      .container {
        .researchContainer {
          max-width: 342px;

          .btnNewResearch {

            padding: 18px 54px;
          }
        }
      }
    }
  }
}

@media (max-width: 1148px) {
  .main {
    .summaryResearchContainer {
      .container {
        flex-direction: column;
        gap: 21px;

        .summaryContainer  {
          .cardsContainer {
            .card {
              width: 100%;
              min-width: 229px;
            }
          }
        }

        .researchContainer {
          position: relative;
          right: 0;
          width: 100%;
          max-width: 100%;
        }
      }
    }
    .dashboardContainer {
      max-width: calc(100% - 380px);
    }
    .notificationContainer {
      right: -412px;
    }
  }
}

@media (max-width: 1024px) {
  .main {
    .summaryResearchContainer {
      .container {
        .summaryContainer {
          .cardsContainer {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;

            .card{
              min-width: auto;
              &:nth-child(3) {
                grid-column: 1 / span 2;
              }
            }
          }
        }

        .researchContainer {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .dashboardContainer {
      flex-direction: column;
      max-width: 100%;
      width: 100%;

      .leftContainer { max-width: 100%;}
      .rightContainer {
        max-width: 100%;
        gap: 24px;
      }
    }

    .notificationContainer { display: none;}
  }
}
